@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(243, 243, 243);
  font-family: "Pixelify Sans", sans-serif;
}

.active {
  color: #B7291A !important;
}

.ochobit-button {
  color: rgb(255, 255, 255);
  background-color: #B7291A;
  padding: 20px;
  font-size: 30px;
  border: 4px solid black;
  margin-top: 25px;
  cursor: pointer;
  text-transform: uppercase;

}

.ochobit-button-small {
  color: rgb(255, 255, 255);
  background-color: #B7291A;
  padding: 10px;
  font-size: 15px;
  border: 2px solid black;
  margin-top: 25px;
  cursor: pointer;
  text-transform: uppercase;

}

.ochobit-button-small-v2 {
  color: #323222;
  padding: 10px;
  font-size: 10px;
  border: 2px solid #323222;
  margin-top: 25px;
  cursor: pointer;
  text-transform: uppercase;

}

.navbartext {
  font-family: "Pixelify Sans", sans-serif;
  font-size: xx-large;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.manifiesto-poke {
  width: 80%;
}

.manifiesto-poke p {
  font-size: xx-large;
}

.pokemon-img {
  width: 200px;
}

.poke-card {
  max-width: 500px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border: 2px solid #323222;
}

.pagina {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.footer {
  display: flex;
  justify-content: center;
  height: 20vh;
}

.footer img {
  width: 100px;
}
